<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">Brand</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/my-pet">My Pet</a></li>
			<li><a href="/cat-names">Cat Names</a></li>
			<li><a href="/people">People</a></li>
			<li><a href="/rabbit">Rabbit</a></li>
		</ul>
	  
	</div>
</nav>