<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
			
				<div class="jumbotron">
					<h1>This is great</h1>
					<p>Welcome to templating using EJS</p>
				</div>

				<img src="https://media.giphy.com/media/fItgT774J3nWw/giphy.gif">

				<img src="https://media.giphy.com/media/B2vBunhgt9Pc4/giphy.gif">

				<img src="https://media.giphy.com/media/cLcxtL1z8t8oo/giphy.gif">
				
			</div>
			<div class="col-sm-4">
				
				<div class="well">
					<h3>Look I'm A Sidebar!</h3>
				</div>

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>